
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dogs</title>
</head>
<body>
  <h1>DOGS WEBPAGE</h1>
  <p>Your Dog's name is <%= dogName %></p>
  <p>Your Dog's age is <%= age %></p>
  <p>1 + 2 = <%= 1 + 2 %></p>
</body>
</html>